{% extends 'userauth/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="w-full h-screen bg-[url('./wallpaper.jpeg')] bg-cover bg-center text-nunito">
    <div class="w-full h-full flex flex-col justify-center items-center backdrop-blur-sm">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <img src="./logo_hori.png">
                <h1 class="mt-6 mb-3 text-3xl font-bold text-center font-nunito">Choose your role</h1>
                <div class="flex justify-center mb-4 text-xl">
                    <div>
                        <div class="form-check mb-3">
                            <input
                                class="form-check-input appearance-none rounded-full h-5 w-5 border border-gray-300 bg-white checked:bg-primary_red checked:border-primary_red focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                type="radio" name="role" id="ideator" value="show" onclick="showHideDiv()">
                            <label class="form-check-label inline-block text-gray-800" for="flexRadioDefault2">
                                Ideator
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input
                                class="form-check-input appearance-none rounded-full h-5 w-5 border border-gray-300 bg-white checked:bg-primary_red checked:border-primary_red focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                type="radio" name="role" id="ideator" value="show" onclick="showHideDiv()">
                            <label class="form-check-label inline-block text-gray-800" for="flexRadioDefault2">
                                Idea Champion
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input
                                class="form-check-input appearance-none rounded-full h-5 w-5 border border-gray-300 bg-white checked:bg-primary_red checked:border-primary_red focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                type="radio" name="role" id="ideator" value="show" onclick="showHideDiv()">
                            <label class="form-check-label inline-block text-gray-800" for="flexRadioDefault2">
                                Administator
                            </label>
                        </div>
                    </div>
                </div>

                <div id="form" style="display: none;">
                    <!-- <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname"
                    placeholder="Full Name" /> -->

                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="email"
                        placeholder="Email" />

                    <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="password" placeholder="Password" />
                    <!-- <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="confirm_password" placeholder="Confirm Password" /> -->

                    <button type="submit"
                        class="w-full text-center py-3 rounded bg-primary_red text-white hover:bg-black focus:outline-none my-1">
                        Sign In</button>



                </div>
                <div class="text-light_grey text-center">
                    Ideator? Create an account
                    <a class="no-underline border-b border-blue text-blue" href="#">
                        Sign up
                    </a>.
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    function showHideDiv(val) {

        document.getElementById('form').style.display = 'block';

    }
</script>
{% endblock content %}
