{% extends 'userauth/base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block content %}
<div>
    <div>
        <div class="text-red-700 text-base px-6 py-4 border-0 rounded-lg relative bg-red-100">
          <span class="text-xl inline-block mr-5 align-middle">
            <i class="fas fa-bell"></i>
          </span>
          <span class="inline-block align-middle mr-8">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.

          </span>
          <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
            <span>×</span>
        
          </button>
        </div>
        
        
      </div>
    <div class="w-full h-screen bg-[url('{% static 'images/wallpaper.jpeg' %}')] bg-cover bg-center text-nunito">
        <div class="w-full h-full flex flex-col justify-center items-center backdrop-blur-sm">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/logo_hori.png' %}">
                    </a>
                    <div class="text-black text-center py-4">
                        Already have an account?
                        <a class="no-underline border-b border-blue text-blue-500" href="{% url 'login' %}">
                            Login.
                        </a>
                    </div>          
                    <div class="text-black text-center ">
                        Ideator? Create an account
                        <a class="no-underline border-b border-blue text-blue-500" href="{% url 'signup' %}">
                            Sign up.
                        </a>
                    </div>
                
                    
                </div>
    
    
            </div>
        </div>
    </div>
    <script>        
        
        function closeAlert(event){
            let element = event.target;
            while(element.nodeName !== "BUTTON"){
            element = element.parentNode;
            }
            element.parentNode.parentNode.removeChild(element.parentNode);
            }
            
    </script>
</div>
{% endblock content %}