{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Home - Admin{% endblock title %}

{% block content %}


<!-- Required chart.js -->
<div class="flex flex-col gap-5 py-28 items-center">
  <!-- line chart  -->
  <div class="flex flex-col w-9/12 justify-center shadow-2xl rounded">
    <div class="py-3 px-5 bg-gray-100 text-center font-bold text-xl mb-2">Idea Submission Monthly</div>
      <canvas class="p-8" id="chartLine"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <!-- Chart line -->
      <script>
          const labels = ["January", "February", "March", "April", "May", "June","July","August","September", "October","November", "December"];
          const data = {
              labels: labels,
              datasets: [
                  {
                      label: "Submissions Per Month",
                      backgroundColor: "hsl(0, 100%, 35%)",
                      borderColor: "hsl(0, 100%, 35%)",
                      data: [0, 10, 5, 2, 20, 30, 45],
                  },
              ],
          };

          const configLineChart = {
              type: "line",
              data,
              options: {},
          };

          var chartLine = new Chart(
              document.getElementById("chartLine"),
              configLineChart
          );
      </script>
  </div>

  <!-- doughnut charts -->
  <div class="flex flex-row items-stretch w-9/12 rounded">
    <div class="flex flex gap-5 justify-around my-5 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 w-full shadow-2xl">
    
      <div class="rounded overflow-hidden">
  
        <div class="px-6 py-4 h-100px">
          <div class="py-3 px-5 bg-gray-50 text-center font-bold text-xl">Idea submitted per Business Unit</div>
          <p class="text-gray-700 text-base">
          </p>
          <br>
          <div class="shadow-lg rounded-lg overflow-hidden">
            <div class="py-3 px-5 bg-gray-50 text-center font-semibold">Overview of idea submissions per BU</div>
            <canvas class="p-10" id="chartDoughnut1"></canvas>
          </div>
        </div>
      </div>
      <!--Card 3-->
      <div class="rounded overflow-hidden">
  
        <div class="px-6 py-4">
          <div class="py-3 px-5 bg-gray-50 text-center font-bold text-xl mb-2">Ideas pending per Business Unit</div>
          <p class="text-gray-700 text-base">
          </p>
          <br>
          <div class="shadow-lg rounded-lg overflow-hidden">
            <div class="py-3 px-5 bg-gray-50 text-center font-semibold">Overview of pending statuses</div>
            <canvas class="p-10 h-400" id="chartDoughnut2"></canvas>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      function dynamicColors() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgba(" + r + "," + g + "," + b + ", 0.5)";
      }
    
      function poolColors(a) {
        var pool = [];
        for (i = 0; i < a; i++) {
          pool.push(dynamicColors());
        }
        return pool;
      }
      const dataDoughnut1 = {
        labels: {{ business_units| safe }},
      datasets: [
        {
          label: "Ideas",
          data: {{ submissions| safe }},
        backgroundColor: poolColors({{ submissions| safe }}.length),
        hoverOffset: 4,
            },
      ],
        };
    
      const configDoughnut1 = {
        type: "doughnut",
        data: dataDoughnut1,
        options: {},
  };

  var chartBar = new Chart(
    document.getElementById("chartDoughnut1"),
    configDoughnut1
  );

  const dataDoughnut2 = {
    labels: {{ submission_status| safe }},
  datasets: [
    {
      label: "Submissions",
      data: {{ no_of_submissions| safe }},
    backgroundColor: poolColors({{ no_of_submissions| safe }}.length),
    hoverOffset: 4,
        },
  ],
    };

  const configDoughnut2 = {
    type: "doughnut",
    data: dataDoughnut2,
    options: {},
  };

  var chartBar = new Chart(
    document.getElementById("chartDoughnut2"),
    configDoughnut2
  );
</script>

  </div>
  <!-- dropdown main with charts-->
  <div class="flex flex-col items-center w-9/12 shadow-2xl rounded gap-4">
      <!-- dropdown -->
      <!-- <div class="py-3 px-5 bg-gray-100 text-center font-bold text-xl mb-2 m-auto">Idea Submission Monthly</div> -->
      <div class="bg-gray-100 py-3 px-5 w-full text-center font-bold text-xl"> Idea submission</div>
     
      <!-- Dropdown menu -->
      <select name="chartType" id="chartType" onchange="updateChartType()" class="bg-red-50 border border-red-300 text-gray-900 text-sm rounded shadow-lg focus:ring-red-500 focus:border-red-500 block w-1/3 px-6 py-2.5 dark:bg-red-700 dark:border-red-600 dark:placeholder-red-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500 uppercase">
        <option value="bar">BU-Idea Champion 1</option>
        <option value="line">BU-Idea Champion 2</option>
        <option value="pie">BU-Idea Champion 3</option>
        <option value="radar">BU-Idea Champion 4</option>
        <option value="polarArea">BU-Idea Champion 5</option>
      </select>
      <div class="flex flex-row justify-around bg-red w-full">
        <div class="flex flex-col shadow-xl py-3 px-4 rounded-md bg-gray-100">
          <div class="text-sm">Business unit</div>
          <div class="text-2xl font-semibold">HR</div>
        </div>
        <div class="flex flex-col shadow-xl py-3 px-4 rounded-md bg-gray-100">
          <div class="text-sm">Innovation Champion</div>
          <div class="text-2xl font-semibold">Chaitanya Landge</div>
        </div>
      </div>
      <!-- chart -->
      <canvas class="p-8" id="chartBar"></canvas>
      <!-- Required chart.js -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <!-- Chart bar -->
      <script>
          const labelsBarChart = [
              "Total Ideas Submitted",
              "Accepted",
              "Rejected",
              "OnHold",
              "Review Pending"
          ];
          const dataBarChart = {
              labels: labelsBarChart,
              datasets: [
                  {
                      label: "Satistics per Business Unit",
                      backgroundColor: [
      'rgba(0, 0, 225, 0.9)',
      'rgba(114, 225, 87, 0.9)',
      'rgba(255, 0, 0, 0.9)',
      'rgba(225, 165, 0, 0.9)',
      'rgba(0, 0, 0, 0.9)',
    ],
                      borderColor: "hsl(0, 100%, 35%)",
                      data: [0, 10, 5, 2, 20, 30, 45],
                  },
              ],
          };

          const configBarChart = {
              type: "bar",
              data: dataBarChart,
              options: {},
          };

          var chartBar = new Chart(
              document.getElementById("chartBar"),
              configBarChart
          );

          function updateChartType() {
                // Destroy the previous chart

				myChart.destroy();

                // Draw a new chart on the basic of dropdown

				myChart = new Chart(ctx, {
					type: document.getElementById("chartType").value,  // Select chart type from dropdown
					data: myData
				});
			};
      </script>
  </div>
</div>
{% endblock content %}