<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="#" class="flex items-center py-4 px-2">
                            <img src="./nav-logo.jpeg" alt="Logo" class="h-8 mr-2">
                        </a>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-3 ">
                    <a href=""
                        class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-red-500 hover:text-white transition duration-300">Log
                        Out</a>

                </div>
            </div>
        </div>
    </nav>
    <div class="flex items-center justify-center min-h-screen w-">
        <div class="flex pt-2 p-2 items-center justify-around h-auto w-full m-40 text-white bg-gray-400 rounded-lg shadow-md">
            <img class="h-full w-3/5 py-2 pr-4" src="./marketing.jfif"></img>
            <div class="flex flex-col py-4 px-4">
                <span class="text-3xl font-semibold">Bridgestone Marketing</span>
                <p class="text-l text-white-300">Idea submission for marketing Dept!</p>
                <p class="pt-2 text-2xl ">Program Duration</p>
                <p class="text-black">Monday 5 Dec 2022 To Thur 5 Jan 2023</p>
                <hr class="h-px my-3 bg-white border-0 dark:bg-white-400">
                <p class="pt-2 text-2xl ">Idea submission</p>
                <p class="text-black">Sunday 4 Dec 2022 To Thur 29 Dec 2023</p>
                <hr class="h-px my-3 bg-white border-0 dark:bg-white-400">

                <p class="text-l font-semibold">Application ends in 22 days.</p>

                <br><button
                    class="bg-black  text-white font-semibold hover:text-black py-2 px-4 border border-black-500 hover:border-transparent rounded">
                    Submit Idea
                </button>
            </div>

        </div>
    </div>

</body>

</html>