{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}{{ submission.title }}{% endblock title %}

{% block content %}
<div class="flex justify-center mx-24 pt-32">
    <div class="border border-black rounded-lg flex-1 text-center py-4">
        <p class="font-bold text-3xl">{{ submission.ideator.fullname }}</p>
        <p class="font-semibold text-xl text-red-700">{{ submission.ideator.email }}</p>
        <p class="text-sm pt-3 font-semibold ">Submitted on:</p>
        <p class="font-normal text-sm pb-3">{{ submission.submitted_on }}</p>
    </div>
    {% if submission.status == "Review Pending"  %}
    <div class="bg-black rounded-lg flex-1 text-center py-4 mx-3">
        <p class="font-bold text-3xl text-white">{{ submission.status }}</p>
        <p class="text-sm pt-3 text-white font-bold">Last Modified on:</p>
        <p class="font-normal text-sm pb-3 text-white">{{ submission.modified_on }}</p>
    </div>
    {% elif submission.status == "Accepted" %}
    <div class="bg-green-500 rounded-lg flex-1 text-center py-4 mx-3">
        <p class="font-bold text-3xl text-white">{{ submission.status }}</p>
        <p class="text-sm pt-3 text-white font-semibold">Last Modified on:</p>
        <p class="font-normal text-sm pb-3 text-white">{{ submission.modified_on }}</p>
    </div>
    {% elif submission.status == "On Hold" %}
    <div class="bg-orange-500 rounded-lg flex-1 text-center py-4 mx-3">
        <p class="font-bold text-3xl text-white">{{ submission.status }}</p>
        <p class="text-sm pt-3 text-white font-semibold">Last Modified on:</p>
        <p class="font-normal text-sm pb-3 text-white">{{ submission.modified_on }}</p>
    </div>
    {% elif submission.status == "Rejected" %}
    <div class="bg-red-500 rounded-lg flex-1 text-center py-4 mx-3">
        <p class="font-bold text-3xl text-white">{{ submission.status }}</p>
        <p class="text-sm pt-3 text-white font-semibold">Last Modified on:</p>
        <p class="font-normal text-sm pb-3 text-white">{{ submission.modified_on }}</p>
    </div>

    {% endif %}
</div>

<div class="flex justify-center flex-col mx-24 mt-8">
    <div class="mt-4">
        <p class="px-1 py-2 font-semibold">Business Unit the idea is pertinent to</p>
        <p class="bg-gray-100 rounded-lg p-4">{{ submission.business_unit }}</p>
    </div>
    <div class="mt-4">
        <p class="px-1 py-2 font-semibold">Identified Problem</p>
        <p class="bg-gray-100 rounded-lg p-4">{{ submission.identified_problem }}</p>
    </div>
    <div class="mt-4">
        <p class="px-1 py-2 font-semibold">Proposed solution</p>
        <p class="bg-gray-100 rounded-lg p-4">{{ submission.proposed_solution }}</p>
    </div>
    <div class="mt-4">
        <p class="px-1 py-2 font-semibold">Similar solutions existing in market</p>
        <p class="bg-gray-100 rounded-lg p-4">{{ submission.similar_solutions }}</p>
    </div>
    <div class="mt-4">        
        {% if submission.attachment %}
        <p class="px-1 py-2 font-semibold">Additional information/ attachments to support the idea</p>
              <div class="flex-auto pr-1">
                <a href="{{ submission.attachment.url }}"
                  target="_blank" class="text-red-700 text-[15px] font-semibold hover:underline">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-link-45deg inline" viewBox="0 0 16 16">
                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                  </svg>
                  View Attachment
                </a>
              </div>
              {% endif %}
    </div>
    <p class="px-1 py-2 font-semibold underline mt-4">Current Status - {{ submission.status }}</p>  
    <div class="mt-4">
        <p class="px-1 py-2 font-semibold">Change Status</p>        
            <form method="POST" action="{% url 'update_status' %}">
                {% csrf_token %}
                <div class="flex flex-row">
                  <input type="hidden" name="submission_key" value="{{ submission.key }}"></input>
                    <input type="radio" id="accept" value="Accept" name="status" class="peer/accept opacity-0 ">
                    <label class=" peer-checked/accept:bg-green-400 peer-checked/accept:text-black peer-checked/accept:text-xl bg-green-500 rounded-lg p-4 flex-1 text-white cursor-pointer text-center mr-2 font-semibold uppercase text-lg" for="accept">
                        Accept
                    </label>
                    <input type="radio" id="onhold" value="Hold" name="status" class="peer/onhold opacity-0">
                    <label class="peer-checked/onhold:bg-orange-400 peer-checked/onhold:text-black peer-checked/onhold:text-xl bg-orange-500 rounded-lg p-4 flex-1 text-white cursor-pointer text-center mr-2 font-semibold uppercase text-lg" for="onhold">
                        On Hold
                    </label>
                    <input type="radio" id="reject" value="Reject" name="status" class="peer/reject opacity-0">
                    <label class="peer-checked/reject:bg-red-400 peer-checked/reject:text-black peer-checked/reject:text-xl bg-red-500 rounded-lg p-4 flex-1 text-white cursor-pointer text-center mr-2 font-semibold uppercase text-lg" for="reject">
                        Reject
                    </label>
                  </div>        

                </div>      
                <div class="mt-4">
                    <p class="px-1 py-2 font-semibold">Remarks (if any)</p>
                    
                    <textarea class="bg-gray-100 rounded-lg p-4 w-full h-60" name="remark">{% if submission.remark %}{{ submission.remark }}{% endif %}</textarea>
                    <button class="bg-red-700 text-white rounded-lg p-2 my-3" type="submit">Save changes</button>
                </form>
            </div>            
    </div>
</div>

{% endblock content %}
