{% extends 'mainapp/base.html' %} {% load static %} {% block title %}Home -
Ideator{% endblock title %} {% block content %}
<div class="ml-10 flex justify-between relative h-[550px] overflow-hidden">
  <div>
    <h1
      class="text-left text-black text-8xl font-bold pt-[150px] drop-shadow-lg"
    >
      Have an <span class="text-red-700">Idea?</span>
    </h1>
    <h1 class="text-left text-gray-700 font-normal text-2xl pt-2 pb-10">
      Choose the Business Unit of your choice and submit the idea.
    </h1>

    <a
      href="{% url 'new_submission' %}"
      class="mt-6 py-6 px-6 text-lg font-medium text-white rounded-full bg-gray-500 hover:bg-black hover:text-white transition duration-300"
      >Submit Idea</a
    >

    <a
      href="#YOUR_SUBMISSIONS"
      class="mt-6 py-6 px-6 text-lg font-medium text-gray-500 rounded hover:text-black transition duration-300"
      >Check Status</a
    >
  </div>
  <img
    src="{% static 'images\landingpage_img.png' %}"
    class="float-right absolute right-[-450px] top-[-250px]"
    alt="Idea"
    height="600px"
    width="900px"
  />
</div>

<div id="YOUR_SUBMISSIONS" class="mt-16">
  <h3 class="py-4 mt-28 text-center text-red-700 text-6xl font-bold pt-16 drop-shadow-lg hover:underline-offset-8">
    Hello {{ user.fullname }}
  </h3>
  <h4 class="py-4 text-center text-red-700 text-5xl font-bold pt-16 drop-shadow-lg hover:underline-offset-8">
    Your Submissions
  </h4>
</div>
<br />
<div class="flex justify-center flex-col alignitems-center h-auto w-auto">
  <div class="alignitems-center">
    <form method="POST">
      {% csrf_token %}
      <ul class="flex justify-center pb-3">
        <li class="mr-3">
          {% if selected == 'all' %}
          <button
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="all"
            >
          {% else %}
          <button
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="all"
            >
          {% endif %}
            All</button
          >
        </li>
        <li class="mr-3">
          {% if selected == 'review_pending' %}
          <button
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="review_pending"
            >
          {% else %}
          <button
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="review_pending"
            >
          {% endif %}
          Review Pending</button>
        </li>
        <li class="mr-3">
          {% if selected == 'accepted' %}
          <button
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="accepted"
            >
          {% else %}
          <button
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="accepted"
            >
          {% endif %}
          Accepted</button>
        </li>
        <li class="mr-3">
          {% if selected == 'on_hold' %}
          <button
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="on_hold"
            >
          {% else %}
          <button
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="on_hold"
            >
          {% endif %}
          On Hold</button>
        </li>
        <li class="mr-3">
          {% if selected == 'rejected' %}
          <button
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="rejected"
            >
          {% else %}
          <button
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="rejected"
            >
          {% endif %}
          Rejected</button
          >
        </li>
      </ul>
    </form>
  </div>
  <div class="alignitems-center px-10 mx-5">
    <div class="overflow-scroll h-96 scroll-smooth overflow-x-hidden">
      {% for submission in submissions %}
      <div class="bg-gray-200 px-4 py-4 rounded-lg mt-5 mx-5">
        <div class="flex justify-between">
          <div class="basis-1/2 px-6">
            <p class="font-bold text-xl uppercase">{{ submission.name }}</p>
            <p class="idea_description">{{ submission.description }}</p>
            <p class="date_of_submission">{{ submission.action }} : {{ submission.date_of_action }}</p>

            {% if submission.status == "Review Pending"  %}
            <a href="{% url 'edit_submission' submission.id %}">
                <svg fill="#000000" version="1.1" class="inline" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 width="18px" height="18px" viewBox="0 0 494.936 494.936"
	 xml:space="preserve">
<g>
	<g>
		<path d="M389.844,182.85c-6.743,0-12.21,5.467-12.21,12.21v222.968c0,23.562-19.174,42.735-42.736,42.735H67.157
			c-23.562,0-42.736-19.174-42.736-42.735V150.285c0-23.562,19.174-42.735,42.736-42.735h267.741c6.743,0,12.21-5.467,12.21-12.21
			s-5.467-12.21-12.21-12.21H67.157C30.126,83.13,0,113.255,0,150.285v267.743c0,37.029,30.126,67.155,67.157,67.155h267.741
			c37.03,0,67.156-30.126,67.156-67.155V195.061C402.054,188.318,396.587,182.85,389.844,182.85z"/>
		<path d="M483.876,20.791c-14.72-14.72-38.669-14.714-53.377,0L221.352,229.944c-0.28,0.28-3.434,3.559-4.251,5.396l-28.963,65.069
			c-2.057,4.619-1.056,10.027,2.521,13.6c2.337,2.336,5.461,3.576,8.639,3.576c1.675,0,3.362-0.346,4.96-1.057l65.07-28.963
			c1.83-0.815,5.114-3.97,5.396-4.25L483.876,74.169c7.131-7.131,11.06-16.61,11.06-26.692
			C494.936,37.396,491.007,27.915,483.876,20.791z M466.61,56.897L257.457,266.05c-0.035,0.036-0.055,0.078-0.089,0.107
			l-33.989,15.131L238.51,247.3c0.03-0.036,0.071-0.055,0.107-0.09L447.765,38.058c5.038-5.039,13.819-5.033,18.846,0.005
			c2.518,2.51,3.905,5.855,3.905,9.414C470.516,51.036,469.127,54.38,466.61,56.897z"/>
	</g>
</g>
</svg>
              {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" class="inline" ><path fill-rule="evenodd" fill="#d50000" d="M18.9 18.01H2.1V2.096h8.4V.106H0V20h21v-9.947h-2.1v7.958zM6.3 9.95 16.631 0 21 4.115l-10.666 9.917H6.3V9.95z"/>Edit</svg> {% endcomment %}
              Edit</a>
              {% endif %}
              <a class="px-6 py-3" id="remark-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="none" class="inline" viewBox="0 0 16 16"><path fill="#212121" d="M1 4.5C1 3.11929 2.11929 2 3.5 2H12.5C13.8807 2 15 3.11929 15 4.5V9.5C15 10.8807 13.8807 12 12.5 12H8.68787L5.62533 14.6797C4.99168 15.2342 4 14.7842 4 13.9422V12H3.5C2.11929 12 1 10.8807 1 9.5V4.5ZM3.5 3C2.67157 3 2 3.67157 2 4.5V9.5C2 10.3284 2.67157 11 3.5 11H5V13.8981L8.31213 11H12.5C13.3284 11 14 10.3284 14 9.5V4.5C14 3.67157 13.3284 3 12.5 3H3.5Z"/></svg>
              View Remark</a>
            {% if submission.attachment %}
            <a
              href="{{ submission.attachment.url }}"
              target="_blank"
              class="underline text-red-700 text-[15px] hover:text-[16px] hover:font-bold transition duration-300"
              >
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-link-45deg inline" viewBox="0 0 16 16">
                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
              </svg>
              View Attachment</a
            >
            {% endif %}
            
      
          <div class="fixed bg-black bg-opacity-50 modal fade top-0 left-0 hidden w-full h-full hidden outline-none overflow-x-hidden overflow-y-auto justify-center items-center" id="overlay">
              <div class="bg-gray-200 max-w-sm py-2 px-3 rounded shadow-xl text-gray-800">
                  <div class="flex justify-between items-center">
                      <h4 class="text-lg font-bold">Remark</h4>
                      <svg class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" id="close-modal" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                      </svg>
                  </div>
                  <div class="mt-2 text-sm">
                      <p>{{ submission.remark }}</p>
                  </div>
                  <div class="mt-3 flex justify-end space-x-3">
                      <button class="px-3 py-1 rounded hover:bg-red-300 hover:bg-opacity-50 hover:text-red-900">Okay</button>
                      
                  </div>
              </div>
          </div>
           
          </div>
          <div class="basis-1/4 pl-6 text-right flex flex-col justify-evenly">
            <div class="flex justify-around">
              {% if submission.status == "Accepted" %}
              <button
                class="bg-green-500 rounded-full font-medium text-white py-4 px-4 pointer-events-none"
              >
                {{ submission.status }}
              </button>
              {% elif submission.status == "On Hold" %}<button
                class="bg-orange-500 rounded-full font-medium text-white py-4 px-4 pointer-events-none"
              >
                {{ submission.status }}
              </button>
              {% elif submission.status == "Review Pending" %}
              <button
                class="bg-black rounded-full font-medium text-white py-4 px-4 pointer-events-none"
              >
                {{ submission.status }}
              </button>
              {% else %}
              <button
                class="bg-red-500 rounded-full font-medium text-white py-4 px-4 pointer-events-none"
              >
                {{ submission.status }}
              </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <br />
</div>
</div>
<!-- Javascript code -->
<script>
  
  window.addEventListener('DOMContentLoaded', () =>{
            const overlay = document.querySelector('#overlay')
            const delBtn = document.querySelector('#remark-btn')
            const closeBtn = document.querySelector('#close-modal')

            const toggleModal = () => {
                overlay.classList.toggle('hidden')
                overlay.classList.toggle('flex')
            }

            delBtn.addEventListener('click', toggleModal)
            closeBtn.addEventListener('click',toggleModal)
            
        })
    {% if go_to_submissions %}
      window.location.hash = '#YOUR_SUBMISSIONS';
    {% endif %}
</script>
{% endblock content %}
