{% extends 'mainapp/base.html' %} {% load static %} {% block title %}Home -
Ideator{% endblock title %} {% block content %}
<div class="ml-10 flex justify-between relative h-[550px] overflow-hidden">
  <div>
    <h1
      class="text-left text-black text-8xl font-bold pt-[150px] drop-shadow-lg"
    >
      Have an <span class="text-red-700">Idea?</span>
    </h1>
    <h1 class="text-left text-gray-700 font-normal text-2xl pt-2 pb-10">
      Choose the Business Unit of your choice and submit the idea.
    </h1>

    <a
      href="{% url 'new_submission' %}"
      class="mt-6 py-6 px-6 text-lg font-medium text-white rounded-full bg-gray-500 hover:bg-black hover:text-white transition duration-300"
      >Submit Idea</a
    >

    <a
      href="#YOUR_SUBMISSIONS"
      class="mt-6 py-6 px-6 text-lg font-medium text-gray-500 rounded hover:text-black transition duration-300"
      >Check Status</a
    >
  </div>
  <img
    src="{% static 'images\landingpage_img.png' %}"
    class="float-right absolute right-[-450px] top-[-250px]"
    alt="Idea"
    height="600px"
    width="900px"
  />
</div>

<div id="YOUR_SUBMISSIONS" class="mt-16">
  <h3 class="py-4 mt-28 text-center text-red-700 text-6xl font-bold pt-16 drop-shadow-lg hover:underline-offset-8">
    Hello {{ user.fullname }}
  </h3>
  <h4 class="py-4 text-center text-red-700 text-5xl font-bold pt-16 drop-shadow-lg hover:underline-offset-8">
    Your Submissions
  </h4>
</div>
<br />
<div class="flex justify-center flex-col alignitems-center h-auto w-auto">
  <div class="alignitems-center">
      <ul class="flex justify-center pb-3">
        <li class="mr-3">
          {% if selected == 'all' %}
          <a href="{% url 'home' %}"
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="all"
            >
          {% else %}
          <a href="{% url 'home' %}"
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="all"
            >
          {% endif %}
            All</a
          >
        </li>
        <li class="mr-3">
          {% if selected == 'review_pending' %}
          <a href="{% url 'review_pending' %}"
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="review_pending"
            >
          {% else %}
          <a href="{% url 'review_pending' %}"
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="review_pending"
            >
          {% endif %}
          Review Pending</a>
        </li>
        <li class="mr-3">
          {% if selected == 'accepted' %}
          <a href="{% url 'accepted' %}"
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="accepted"
            >
          {% else %}
          <a href="{% url 'accepted' %}"
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="accepted"
            >
          {% endif %}
          Accepted</a>
        </li>
        <li class="mr-3">
          {% if selected == 'on_hold' %}
          <a href="{% url 'on_hold' %}"
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="on_hold"
            >
          {% else %}
          <a href="{% url 'on_hold' %}"
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="on_hold"
            >
          {% endif %}
          On Hold</a>
        </li>
        <li class="mr-3">
          {% if selected == 'rejected' %}
          <a href="{% url 'rejected' %}"
            class="inline-block border border-red-500 rounded py-2 px-4 text-white bg-red-700"
            name="selected" value="rejected"
            >
          {% else %}
          <a href="{% url 'rejected' %}"
            class="inline-block border border-white rounded hover:border-gray-200 text-red-500 hover:bg-gray-200 py-2 px-4"
            name="selected" value="rejected"
            >
          {% endif %}
          Rejected</a
          >
        </li>
      </ul>
  </div>
  <div class="alignitems-center px-10 mx-5">
    <div class="">
      {% if submissions|length %}        
        {% for submission in submissions %}
        <div class="bg-gray-200 pl-4 rounded-lg mt-5 mx-5">
          <div class="flex justify-between">
            <div class="basis-1/2 px-6 py-4">
              <p class="font-bold text-xl uppercase">{{ submission.title }}</p>
              <p class="idea_description">{{ submission.identified_problem }}</p>
              <p class="date_of_submission mt-4 text-[15px] font-semibold">Submitted On:<span class="font-bold"> {{ submission.submitted_on|date:"d F Y" }}</span></p>
              <div class="flex flex-row mt-4">              
                <div class="flex-auto pr-1">
                  <a class="text-red-700 text-[15px] font-semibold cursor-pointer hover:underline" id="viewdetails-btn" onclick="show_modal('{{ submission.id }}_overlay')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="#d50000" class="inline" viewBox="0 0 16 16"><path fill="#d50000" d="M1 4.5C1 3.11929 2.11929 2 3.5 2H12.5C13.8807 2 15 3.11929 15 4.5V9.5C15 10.8807 13.8807 12 12.5 12H8.68787L5.62533 14.6797C4.99168 15.2342 4 14.7842 4 13.9422V12H3.5C2.11929 12 1 10.8807 1 9.5V4.5ZM3.5 3C2.67157 3 2 3.67157 2 4.5V9.5C2 10.3284 2.67157 11 3.5 11H5V13.8981L8.31213 11H12.5C13.3284 11 14 10.3284 14 9.5V4.5C14 3.67157 13.3284 3 12.5 3H3.5Z"/></svg>
                  View Details</a>
                </div>
                {% if submission.attachment %}
                <div class="flex-auto pr-1">
                  <a href="{{ submission.attachment.url }}"
                    target="_blank" class="text-red-700 text-[15px] font-semibold hover:underline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-link-45deg inline" viewBox="0 0 16 16">
                      <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                      <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                    </svg>
                    View Attachment
                  </a>
                </div>
                {% endif %}
                {% if submission.status == "Review Pending"  %}
                <div class="flex-auto pr-1">
                  <a class="text-red-700 text-[15px] font-semibold hover:underline" href="{% url 'edit_submission' submission.key %}">          
                      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-pencil-square inline" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    Edit Submission</a>
                </div>
                <div class="flex-auto pr-1">
                  <a class="text-red-700 text-[15px] font-semibold hover:underline cursor-pointer" onclick="show_modal('{{ submission.id }}_del_confirm')">          
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 24 24" class="inline"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M4 8h16v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8zm2 2v10h12V10H6zm3 2h2v6H9v-6zm4 0h2v6h-2v-6zM7 5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2h5v2H2V5h5zm2-1v1h6V4H9z"/> </g> </svg>
                    Delete Submission</a>
                </div>
                {% endif %}
              </div>  
        
            <div class="fixed bg-black bg-opacity-50 modal fade top-0 left-0 hidden w-full h-full hidden outline-none overflow-x-hidden overflow-y-auto justify-center items-center" id="{{ submission.id }}_overlay" style="z-index:10000;">
                <div class="bg-gray-200 w-3/4 h-3.5/4 py-2 px-3 rounded shadow-xl text-gray-800">
                    <div class="flex justify-between items-center mb-1">
                        <h4 class="text-lg font-bold">{{ submission.title }}</h4>
                        <svg class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" id="close-modal" onclick="close_modal('{{ submission.id }}_overlay')" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>

                    </div>
                    <div class="mt-0">
                      <p class="date_of_submission ml-5 text-[15px] font-bold text-sm">Submitted On:<span class="font-semibold"> {{ submission.submitted_on|date:"d F Y" }}</span></p> 
                      <p class="date_of_submission mb-10 ml-5 text-[15px] font-bold text-sm">Last Modified On:<span class="font-semibold"> {{ submission.modified_on|date:"d F Y" }}</span></p>
                        <p class="mb-5"><span class="font-bold">Identified problem: </span>{{ submission.identified_problem }}
                        </p>
                        <p class="mb-5"><span class="font-bold">Proposed solution: </span>{{ submission.proposed_solution }}
                        </p>
                        <p class="mb-5"><span class="font-bold">Benefits of solution: </span>{{ submission.benefit_of_solution }}
                        </p>
                        {% if submission.similar_solutions %}
                          <p class="mb-5"><span class="font-bold">Similar  solutions: </span>{{ submission.similar_solutions }}
                        {% endif %}
                          <p class="mb-5"><span class="font-bold">Business Unit: </span>{{ submission.business_unit }}
                          </p>
                          <p class="mb-5"><span class="font-bold">Innovation Champion: </span>{{ submission.business_unit.innovation_champion }} ({{ submission.business_unit.innovation_champion.email }})
                          </p>
                          {% if submission.remark %}
                          <p class="mb-5"><span class="font-bold text-red-700">Remark: </span>{{ submission.remark }}
                          </p>
                          {% else %}
                          <p class="mb-5"><span class="font-bold text-red-700">Remark: </span> -
                          </p>
                          {% endif %}
                          <div class="">
                            {% if submission.attachment %}
                            <a
                              href="{{ submission.attachment.url }}"
                              target="_blank"
                            class="text-red-700 text-[15px]font-semibold hover:underline pr-5"
                              >
                              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-link-45deg inline" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                              </svg>
                              View Attachment</a
                            >
                            {% endif %}
                            {% if submission.status == "Review Pending"  %}
                              <a class="text-red-700 text-[15px] font-semibold hover:underline" href="{% url 'edit_submission' submission.key %}">          
                                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-pencil-square inline" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                  </svg>
                                Edit Submission</a>
                              {% endif %}
                            </div>
                    </div>
                </div>
            </div>

            <div class="fixed bg-black bg-opacity-50 modal fade top-0 left-0 hidden w-full h-full hidden outline-none overflow-x-hidden overflow-y-auto justify-center items-center" id="{{ submission.id }}_del_confirm" style="z-index:10000;">
              <div class="bg-gray-200 w-1/4 h-1/4.5 py-2 px-3 rounded shadow-xl text-gray-800">
                  <div class="flex justify-between items-center mb-8">
                      <h4 class="text-lg font-bold">Delete submission?</h4>
                      <svg class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full" id="close-modal" onclick="close_modal('{{ submission.id }}_del_confirm')" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                      </svg>
                  </div>
                  <div class="font-semibold">
                    Are you sure, you want to delete the submission: <span class="text-red-700 font-bold">{{ submission.title }}</span>?
                  </div>
                  <div class="my-5 flex justify-end">
                    <form method="POST" action="{% url 'delete_submission' %}">
                      {% csrf_token %}
                      <input type="hidden" name="key" value="{{ submission.key }}">
                      <button type="submit" class="py-2 px-2 mx-2 font-medium text-white rounded bg-red-700 transition duration-300 cursor-pointer">Yes</button>
                    </form>
                    <button class="py-2 px-2 font-medium text-white rounded bg-gray-500 transition duration-300" onclick="close_modal('{{ submission.id }}_del_confirm')">Cancel</button>
                  </div>
              </div>
          </div>
            
            </div>
            {% if submission.status == "Accepted" %}
            <div class="basis-1/4 ml-6 text-center flex flex-col justify-evenly bg-green-500 rounded-lg">
              <div class="">
                <p class="text-xl px-2 text-white font-semibold uppercase">{{ submission.status }}</p>
            {% elif submission.status == "Rejected" %}         
            <div class="basis-1/4 ml-6 text-center flex flex-col justify-evenly bg-red-500 rounded-lg">
              <div class="">
                <p class="text-xl px-2 text-white font-semibold uppercase">{{ submission.status }}</p>        
            {% elif submission.status == "On Hold" %}
            <div class="basis-1/4 ml-6 text-center flex flex-col justify-evenly bg-orange-500 rounded-lg">
              <div class="">
                <p class="text-xl px-2 text-white font-semibold uppercase">{{ submission.status }}</p>
            {% elif submission.status == "Review Pending" %}        
            <div class="basis-1/4 ml-6 text-center flex flex-col justify-evenly bg-black rounded-lg ">
              <div class="">
                <p class="text-xl px-2 text-white font-semibold uppercase">{{ submission.status }}</p>
                {% endif %}
                <p class="date_of_action mt-4 text-[15px] text-white">Last Modified On: {{ submission.modified_on|date:"d F Y" }} </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="text-center text-2xl font-bold text-black-500 pt-10">
          {% if selected == "accepted" %}
            <p>No ideas are accepted yet</p>
          {% elif selected == "on_hold" %}
            <p>No ideas are on Hold</p>
          {% elif selected == "rejected" %}
            <p>No ideas are Rejected</p>
          {% else %}
            <p>No ideas are pending to review</p>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>        
  </div>
  <br />
  </div>

  <div class="flex justify-center items-center">
    {%if submissions.has_previous %} {# whether the previous page exists #}
    <a href="?page={{submissions.previous_page_number}}" class="bg-gray-300 rounded-lg text-black py-1 px-4 m-2 border-2 border-gray-400"> Prev </a> {# link to the prev page #}
    {% endif %}
    <span>{{page_obj.number}}</span> {# the current page number #}
    {%if submissions.has_next %} {# whether the next page exists #}
    <a href="?page={{submissions.next_page_number}}" class="bg-gray-300 rounded-lg text-black py-1 px-4 m-2 border-2 border-gray-400"> Next </a> {# link to the next page #}
    {% endif %}
  </div>

<script>
  function show_modal(divid){
      const modal_div = document.getElementById(divid);
      modal_div.classList.toggle('hidden');
      modal_div.classList.toggle('flex');
    }
    function close_modal(divid){
      const modal_div = document.getElementById(divid);
      modal_div.classList.toggle('hidden');
      modal_div.classList.toggle('flex');
    }
  window.addEventListener('DOMContentLoaded', () =>{
            const overlay = document.querySelector('#overlay')
            const delBtn = document.querySelector('#remark-btn')
            const closeBtn = document.querySelector('#close-modal')

            const toggleModal = () => {
                overlay.classList.toggle('hidden')
                overlay.classList.toggle('flex')
            }

            delBtn.addEventListener('click', toggleModal)
            closeBtn.addEventListener('click',toggleModal)
            
        })
    if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );

}
</script>
{% endblock content %}
