{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Edit Business Unit{% endblock title %}

{% block content %}
    <div class="w-full bg-[url('{% static 'images/wallpaper.jpeg' %}')] bg-cover pb-[360px] h-fit bg-center font-nunito">
        <div class="w-full h-full flex flex-col justify-center items-center backdrop-blur-sm">
            <div class="container max-w-lg flex-1 flex flex-col items-center justify-center px-2">
                <div class= "py-14"></div>
                <div class="bg-white px-8 py-2 rounded shadow-md text-black w-full">
                    <img src="{% static 'images/logo_hori.png' %}">
                    <h1 class="mt-6 mb-8 text-2xl font-bold text-center font-nunito">Select Business Unit to edit</h1>
                    <form method="POST">
                    {% csrf_token %}
                            {% for business_unit in business_units %}
                            <input class="form-check-input appearance-none rounded-full h-5 w-5 border border-gray-400 bg-white checked:bg-red-700 checked:border-red-700 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="radio" name="BU_id" id="{{ business_unit.id }}" value="{{ business_unit.id }}" required />   
                            <label class="form-check-label block text-gray-800 mb-3" for="{{ business_unit.id }}">
                                {{ business_unit.name }}
                            </label>
                            {% endfor %}
                    <button type="submit"
                        class="w-full text-center py-3 mt-4 rounded bg-primary_red text-white bg-black focus:outline-none my-1">Continue
                        <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short inline" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" fill="white"></path> </svg>
                    </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}