{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Invite IC{% endblock title %}

{% block content %}
    <div class="w-full bg-[url('{% static 'images/wallpaper.jpeg' %}')] bg-cover pb-[390px] h-fit bg-center font-nunito">
        <div class="w-full h-full flex flex-col my-auto justify-center items-center backdrop-blur-sm">
            <div class="container max-w-lg mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class= "py-12"></div>
                <div class="bg-white px-8 py-20 rounded shadow-md text-black w-full">
                    <img src="{% static 'images/logo_hori.png' %}">
                    <h1 class="mt-6 mb-8 text-2xl font-bold text-center font-nunito">Add Innovation Champion</h1>
                    <form method="POST">
                    {% csrf_token %}
                    <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4 placeholder:text-black" name="email"
                        placeholder="Innovation Champion Email" />

                    <button type="submit"
                        class="w-full text-center py-3 rounded bg-primary_red text-white bg-black focus:outline-none my-1">Invite Innovation Champion</button>

                    </form>
                </div>


            </div>
        </div>
    </div>
    {% comment %} <script>
     submitBtn = document.getElementById("submit-btn");
    loader = document.getElementById("loader");
    submitBtn.onclick = ()=>{        
        loader.setAttribute("style", "display:block");
        submitBtn.setAttribute("style", "display:none");

    }
    </script> {% endcomment %}

{% endblock content %}