{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Add BU{% endblock title %}

{% block content %}
    <div class="w-full bg-[url('{% static 'images/wallpaper.jpeg' %}')] bg-cover pb-28 h-fit bg-center font-nunito">
        <div class="w-full h-full flex flex-col justify-center items-center backdrop-blur-sm">
            <div class="container max-w-lg flex-1 flex flex-col items-center justify-center px-2">
                <div class= "py-14"></div>
                <div class="bg-white px-8 py-2 rounded shadow-md text-black w-full">
                    <img src="{% static 'images/logo_hori.png' %}">
                    <h1 class="mt-6 mb-8 text-2xl font-bold text-center font-nunito">Add Business Unit</h1>
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="block border border-grey-light w-full p-3 rounded mb-4" type="text" name="name" placeholder="BU Name"></input>
                    <select type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                        name="idea_champion" placeholder="Business Unit" >
                        <option value="0">Assign Idea Champion</option>
                        {% for idea_champion in idea_champions %}
                            <option value="{{ idea_champion.email }}">{{ idea_champion.email }}</option>
                        {% endfor %}
                    </select>          
                    <label>Add Image for the Business Unit</label>
                    <input type="file" accept=".png, .jpg, .jpeg, .jfif" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="business_unit_img" placeholder="Add Image"></input>    
                    <button type="submit"
                        class="w-full text-center py-3 rounded bg-primary_red text-white bg-black focus:outline-none my-1">Add BU
                </button>

                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock content %}