{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}Bridgestone{% endblock title %}

{% block content %}
{% if user.is_admin %}
<h2 class="main_heading">You are a Admin.</h2>
{% elif user.is_IC %}
<h2 class="main_heading">You are a Idea Champion.</h2>
{% else %}
<h2 class="main_heading">You are a Ideator.</h2>
{% endif %}
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log out</button>
</form>
<a href="{% url 'login' %}">Login</a>
<br>
<a href="{% url 'signup' %}">Sign up</a>
{% endblock content %}
